<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zircon.app" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ZirconApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <activity
            android:name=".ui.login.SplashActivity"
            android:theme="@style/SplashTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".ui.home.MainNavActivity"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ui.residents.MembersNavActivity"
            android:label="@string/app_name"
             />
        <activity
            android:name=".ui.residents.MemberDetaisActivity"
            android:label="@string/app_name"
            />
        <activity
            android:name=".ui.assets.browse.AssetsNavActivity"
            android:label="@string/app_name"
              />
        <activity
            android:name=".ui.assets.booking.AssetBookingActivity"
            android:label="@string/app_name"
             />
        <activity
            android:name=".ui.assets.browsebooking.BrowseAssetBookingActivity"
            android:label="@string/app_name"
             />

        <activity
            android:name=".ui.panel.MembersNavActivity"
            android:label="@string/app_name"
             />

        <!-- complaint begin -->
        <activity
            android:name=".ui.complaint.ComplaintActivity"
            android:label="@string/app_name"/>
        <activity
            android:name=".ui.complaint.AllComplaintsActivity"
            android:label="@string/app_name"
              />
        <activity
            android:name=".ui.complaint.ComplaintDetailsActivity"
            android:label="@string/app_name"
              />
        <!-- complaint end -->

       <!-- <activity
            android:name=".ui.test.SettingsActivity"
            android:label="@string/title_activity_settings" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
    </application>

</manifest>
